* {
    box-sizing: border-box;
}

body {
    font-family: "Oswald", sans-serif;
    background-color: #F2E6D8;
    /* Bege Claro */
    margin: 0;
    padding: 20px;
    color: #3E2723;
}

header {
    text-align: center;
    margin-top: 40px;
    background-color: #BF9B7A;
    padding: 20px;
    border-radius: 8px;
}

h1 {
    font-size: 32px;
    color: #3E2723;
    margin-bottom: 10px;
}

h2 {
    color: #BF9B7A;
    font-size: 20px;
    text-align: center;
}

header h1 {
    color: #ffffff;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav a {
    color: #ffffff;
    /* Links brancos dentro do header */
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.card {
    background-color: #593E2E;
    /* Marrom bem escuro */
    border: 1px solid #8C5B3E;
    border-radius: 16px;
    padding: 24px;
    margin: 40px auto;
    max-width: 600px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    position: relative;
    padding-bottom: 90px;
    font-family: "Faculty Glyphic", sans-serif;
}

.card h1 {
    color: #F2E6D8;
    font-size: 26px;
    text-align: left;
}

.card p {
    font-size: 18px;
    color: #ffffff;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: left;
}

.product-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 8px;
}

.card~section {
    text-align: center;
    max-width: 600px;
    margin: 0 auto 40px auto;
}


h3 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 26px;
    color: #593E2E;
}

.card~section ul {
    list-style: none;
    padding: 0;
}

.card~section li {
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 22px;
    font-weight: bold;
    color: #593E2E;
}

.card~section p {
    font-size: 18px;
    color: #3E2723;
    line-height: 1.6;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;

}


.btn-flutuante {
    position: absolute;
    bottom: 24px;
    right: 24px;
    border: none;
    padding: 0;
    cursor: pointer;
    border-radius: 8px;
    background-color: #F2E6D8;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease-in-out;
}

.btn-flutuante a {
    display: block;
    padding: 12px 24px;
    color: #593E2E;

    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}

.btn-flutuante:hover {
    background-color: #ffffff;
    transform: translateY(-2px);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.4);
}
